<div class="container">
  <div class="row my-3">
    <div class="col">
      <h1>Server Health App</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current data</h5>
          <div *ngIf="data != null" class="card-text">
            <ul>
              <li>CPU usage (user): {{data.cpuUsage.user}}</li>
              <li>CPU usage (system): {{data.cpuUsage.system}}</li>
              <li>Free memory: {{data.freeMemory | number:'1.2-2'}} MB ({{ (data.freeMemory / data.totalMemory * 100) | number:'1.2-2' }} %)</li>
              <li>Total memory: {{data.totalMemory | number:'1.2-2'}} MB</li>
              <li>Uptime: {{data.uptime | number:'1.2-2'}} min</li>
            </ul>
          </div>
          <p *ngIf="data == null" class="text-danger">No data provided.</p>
          <button class="btn btn-sm btn-warning" (click)="loadData()">Reload</button>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Log</h5>
          <div class="card-text">
            <table class="table table-striped">
              <thead>
              <th scope="col">CPU user</th>
              <th scope="col">CPU server</th>
              <th scope="col">Free memory</th>
              <th scope="col">Uptime</th>
              </thead>
              <tbody>
                <tr *ngFor="let data of log.slice().reverse()">
                  <td>{{data.cpuUsage.user }}</td>
                  <td>{{data.cpuUsage.system }}</td>
                  <td>{{data.freeMemory | number:'1.2-2'}} MB</td>
                  <td>{{data.uptime | number:'1.2-2' }} min</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
